.hero_sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero_sec .slider,
.hero_sec img {
  width: 50vw;
  object-fit: cover;
}

.services_box {
  padding: 1rem;
  color: white;
  border-radius: 5px;
  transition-duration: 0.5s;
  background-color: var(--webColor);
  border: 2px solid var(--webColor);
}

.services_box h4 {
  color: white;
  font-weight: bold;
  transition-duration: 0.5s;
  font-family: var(--headingFont);
}

.services_box:hover {
  color: initial;
  background-color: initial;
}

.services_box:hover h4 {
  color: var(--webColor);
}

.platform {
  gap: 7.5rem;
  display: grid;
  font-size: 4rem;
  padding-top: 6rem;
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
}
