@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url(./scrollbar.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

:root {
  --webColor: #ffa154;
  --headingFont: "Playfair Display";
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 0;
  width: 150px;
  opacity: 0.5;
  margin: 5rem auto;
  border-bottom: 7.5px dotted var(--webColor);
}

header {
  top: 0;
  z-index: 2;
  width: 100vw;
  color: white;
  position: sticky;
  padding: 1rem 2.5rem;
  background-color: var(--webColor);
}

menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
